#app {
  background-color: #e8e054;
  height: 700px;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: unset;
}

.images {
  height: 130px;
  max-width: 200px;
  padding: 30px;
  margin: 1px;
  flex: 1 1 160px;
}
