#app {
  background-color: white;
  height: 100%;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: unset;
}

.images {
  height: 150px;
  max-width: 200px;
  padding: 40px;
  margin: 1px;
  flex: 1;
}
