#header{
    background-color: aqua;
    height: 40px;
    width: 100%;
}

#footer{
    background-color: greenyellow;
    height: 40px;
    width: 100%;
}

#app {
  background-color: pink;
  height: 700px;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: unset;
}

.images {
  height: 150px;
  max-width: 200px;
  padding: 40px;
  margin: 1px;
  flex: 1;
}
